<div id="scoreAll">
  <form action="/account/categories/{{categories.index}}" method="POST">
    <h1>Редактирование формы:</h1>
    <br>
    <input type="text" value="{{categories.categories}}" name="nameCategories">
    <br>
    <input type="text" value="{{categories.amount}}" name="amount">
    <br>
    <input type="submit" value="Сохранить">
  </form>
</div>
