<form action="/login" method="POST" id="login">
  <h2>Войдите в свою учётную запись</h2>

  <input type="text" placeholder="Login" name="login">
  <br>
  <input type="text" placeholder="Email" name="email">
  <br>
  <input type="text" placeholder="Password" name="password">
  <br>
  <input type="submit" value="Войти">
  {{#if message}}
  <p>Неверные данные</p>
  {{/if}}
</form>
