<div class="categories">
  <form action="/account/newScore" method="POST">
    <h2>ะะพะฒัะน ัััั ๐ณ</h2>
    <br>
    <input type="text" placeholder="ะกััั" name="nameScore">
    <br>
    <input type="text" placeholder="ะกัะผะผะฐ" name="amount">
    <br>
    <input type="submit" value="ะกะพะทะดะฐัั">
  </form>

  <form action="/account/newCategories" method="POST">
    <h2>ะะพะฒะฐั ะบะฐัะตะณะพัะธั ััะฐั๐</h2>
    <br>
    <input type="text" placeholder="ะะฐัะตะณะพัะธั" name="nameCategories">
    <br>
    <input type="text" placeholder="ะกัะผะผะฐ" name="amount">
    <br>
    <input type="submit" value="ะกะพะทะดะฐัั">
  </form>
</div>
