<div class="categories">
  <form action="/account/newScore" method="POST">
    <h2>Новый счёт</h2>
    <br>
    <input type="text" placeholder="Счёт" name="nameScore">
    <br>
    <input type="text" placeholder="Сумма" name="amount">
    <br>
    <input type="submit" value="Создать">
  </form>

  <form action="/account/newCategories" method="POST">
    <h2>Новая категория трат</h2>
    <br>
    <input type="text" placeholder="Категория" name="nameCategories">
    <br>
    <input type="text" placeholder="Сумма" name="amount">
    <br>
    <input type="submit" value="Создать">
  </form>
</div>
