<form action="/registration" method="POST" id="reg">
  <h2>Регистрация</h2>

  <input type="text" placeholder="Login" name="login" required>
  <br>
  <input type="text" placeholder="Email" name="email" required>
  <br>
  <input type="text" placeholder="Password" name="password" required>
  <br>
  <input type="submit" value="Зарегистрироваться">
</form>

<p>{{loginMessage}}</p>
<p>{{emailMessage}}</p>
