<div id="scoreAll">
  <form action="/account/score/{{score.index}}" method="POST">
    <h1>Редактирование формы:</h1>
    <br>
    <input type="text" value="{{score.score}}" name="nameScore">
    <br>
    <input type="text" value="{{score.amount}}" name="amount">
    <br>
    <input type="submit" value="Сохранить">
  </form>
</div>
