body {
  background-image: url("giorgio-trovato-V_aWDjx2g20-unsplash.jpg");
  background-size: 100%;
}

a {
  color: black;
  line-height: 1.2;
  position: relative;
  padding: 0 14px;
  text-transform: uppercase;
  border: 0px;
  border-radius: 0px;
}

a::after {
  content: "";
  height: 100%;
  min-width: 4px;
  background: #34495e;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.5s;
}
a:hover:after {
  min-width: 100%;
  background: #95a5a6;
  opacity: 0.35;
}

.postA {
  background-color: rgb(230, 238, 237);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  width: 20%;
  margin: auto;
}

.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 17px;
}

h1,
h2,
.infoPost {
  font-style: inherit;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.infoPost {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

p {
  font-size: 23px;
}

.allSpending {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap;
  justify-content: space-around; */
}
.allSpending h1 {
  margin: auto;
  margin-top: 2.5%;
}

.spending {
  width: 50%;
  background-color: rgb(230, 238, 237);
  margin: auto;
}
.spending p {
  margin: 4% 4% 4% 10%;
}

input {
  width: 300px;
  font-size: 13px;
  padding: 6px 0 4px 10px;
  border: 1px solid #cecece;
  background: #f6f6f6;
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin: auto;
}

.exchangeCurrencies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 10%;
}

.exchangeCurrencies h1 {
  display: flex;
  justify-content: center;
}

.transaction {
  position: relative;

  z-index: 50;
}

.position {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 200px;
  z-index: -10;
  font-size: 120px;
  opacity: 0.5;
  color: rgb(194, 194, 240);
}
